<h1>HERE IS YOUR ANSWER:</h1>
<div class='response'>
  <%= @question %>
  <br>
  <i>-You</i>
</div>
<div class='response'>
  <%= @answer %>
  <br>
  <i>-Your coach</i>
</div>
<p><%= link_to 'Back to ask a question', ask_path %></p>
